<script type="text/x-handlebars" data-template-name="application">
  <%= render partial: 'layouts/header' %>
  <h2>Custom Dashboard for {{user.name}}</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <nav>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Summary</a></li>
            <li>{{#link-to "tweets"}}Twitter{{/link-to}}</li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#"></a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-10">
        {{outlet}}
      </div>
    </div>
  </div>
</script>
<%= javascript_include_tag 'application' %>